﻿<div class="modal-header">
    <h4 class="modal-title">Добавить отпуск</h4>
</div>
<div class="modal-body">
    <div class="alert alert-danger" role="alert" ng-show="alert.isVisible">
        {{alert.message}}
    </div>
    <form name="vacationForm">
        <div class="form-group">
            <label>Сотрудник</label>
            <select class="form-control" ng-model="vacation.employeeId" ng-required="true">
                <option ng-repeat="employee in employees" ng-value="employee.id">{{employee.name}} {{employee.surname}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Дата начала</label>
            <input type="date" class="form-control" ng-model="vacation.startDate" ng-required="true">
        </div>
        <div class="form-group">
            <label>Дата окончания</label>
            <input type="date" class="form-control" ng-model="vacation.endDate" ng-required="true" ng-min="vacation.startDate" min="{{vacation.startDate | date : 'yyyy-MM-dd'}}">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-item" type="button" ng-click="cancel()">Отменить</button>
    <button class="btn btn-primary" type="button" ng-click="addVacation()">Добавить</button>
</div>