﻿<div ng-controller="MainController">
    <div ng-show="loading" class="preloader">
    </div>
    <div ng-show="!loading">
        <button type="button" class="btn btn-success" ng-click="openAddEmployeePopup()">
            Добавить сотрудника
        </button>
        <span style="padding-right: 20px"></span>
        <button type="button" class="btn btn-success" ng-click="openAddVacationPopup()">
            Добавить отпуск
        </button>
        <div style="padding: 10px 0"></div>
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert($index)">{{alert.msg}}</div>
        <div style="padding: 10px 0"></div>

        <table class="table table-striped" ng-show="isTableVisible()">
            <thead>
            <tr>
                <th scope="col">Сотрудник</th>
                <th scope="col">Дата начала</th>
                <th scope="col">Дата окончания</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="vacation in vacations">
                <td>{{vacation.employee}}</td>
                <td>{{vacation.startDate | date : "dd MMMM yyyy"}}</td>
                <td>{{vacation.endDate | date : "dd MMMM yyyy"}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-parent">
    </div>
</div>