﻿<div class="modal-header">
    <h3 class="modal-title">Добавление нового сотрудника</h3>
</div>
<div class="modal-body">
    <div class="alert alert-danger" role="alert" ng-show="alert.isVisible">
        {{alert.message}}
    </div>
    <form name="employeeForm">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Имя" ng-model="employee.name"
                   ng-maxlength="20" ng-required="true"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Фамилия" ng-model="employee.surname"
                   ng-maxlength="20" ng-required="true"/>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-item" type="button" ng-click="cancel()">Отменить</button>
    <button class="btn btn-primary" type="button" ng-click="addEmployee()">Добавить</button>
</div>